<!doctype html>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
  .flash {
    padding: 1em 1.25em;
    border-width: 1px;
    border-style: solid;
  }

  .flash.error {
    background: #fcc;
    border-color: #700;
    color: #700;
  }

  .timeline-entry {
    border-bottom: 1px solid #777;
    margin: 1em auto;
    padding: 1em;
    max-width: 600px;
    width: 95%;
  }
  .timeline-entry .boosted-by {
    font-style: italic;
    color: #666;
  }

  .author.display-name {
    font-size: 1.2em;
    font-weight: bold;
  }

  .author.handle {
    font-size: 0.9em;
    color: rgba(0,0,0,0.8);
  }

  .author.avatar {
  }

  .avatar.thumbnail {
    width: 64px;
    max-width: 64px;
    max-height: 64px;
  }

  .attachment img, .attachment video {
    width: 100%;
    max-height: 100%;
  }

  .attachment-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .attachment {
    padding: 0;
    margin: 0;
    flex: 0 1 70%;
  }

  .poll-option {
    background-color: #4cc;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin: 0.2em 0;
  }

  .account-host {
    color: rgba(0, 0, 0, 0.5);
  }

  .i-liked, .i-boosted {
    background-color: lightblue;
  }

  .note-actions {
    list-style: none;
    padding: 0;
    margin: 1em 0;
    display: flex;
  }

  .note-action {
    flex: 0 1 60px;
  }

  .note-action.reply summary::-webkit-details-marker {
    display: none;
  }
</style>

<header>
  <h1><a href="/">Moku</a></h1>

  <nav>
    <% if current_user %>
      <div>Logged in as <%= current_user.handle %></div>
      <form action="/logout" method="POST">
        <input type="hidden" name="@method" value="DELETE"/>
        <button>Logout</button>
      </form>
    <% else %>
      <div>
        <a href="/login">Login</a> or <a href="/signup">sign up</a>
      </div>
    <% end %>
    <ul>
      <li><a href="/notifications">Notifications</a></li>
      <li><a href="/federated_timeline">Federated Timeline</a></li>
    </ul>
  </nav>

  <form action="/search">
    <input type="search" name="query" />
  </form>
</header>
