<form method="POST">
  <div><label>Email <input type="email" name="email"/></label></div>
  <div><label>Password <input type="password" name="password"/></label></div>
  <div><label>Handle <input type="text" name="handle"/></label></div>
  <div><label>Display name <input type="text" name="display_name"/></label></div>
  <button>Sign up!</button>
</form>
